#root {
  max-width: 400px;
  min-height: 90vh; /* 모바일 기본값 */
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box;
  /* background-color: #ffffff; */
  background-image: url("https://img.freepik.com/free-photo/simple-smooth-fabric-textured-background_53876-128518.jpg?t=st=1738822310~exp=1738825910~hmac=4166c8244d998096c324722e5fa240a5339acdaa52d9344595c145af48e041a7&w=1380");
} 

/* 데스크탑 환경 (768px 이상) */
@media screen and (min-width: 768px) {
  #root {
    min-height: 100vh;
  }
}

body {
  background-color: #ffffff;
}


@font-face {
    font-family: 'GapyeongHanseokbong-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/GapyeongHanseokbong-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.font-a{
    font-family: 'GapyeongHanseokbong-Bold', sans-serif;
}

@font-face {
    font-family: 'Dokrip';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Dokrip.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-dokrip {
    font-family: 'Dokrip', sans-serif;
}

@font-face {
    font-family: 'GapyeongHanseokbong-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/GapyeongHanseokbong-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.font-gapyeong {
    font-family: 'GapyeongHanseokbong-Bold', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}